<!-- Glassmorphic Admin Navbar -->
<nav>
    <div>
        <div>

            <!-- Mobile Sidebar Toggle & Logo -->
            <div>
                <button id="sidepanel-toggler">
                    <i></i>
                </button>
                <a href="/adminpage">
                    <i></i>
                    <span>CITYSAFE</span>
                </a>
            </div>

            <!-- Utilities -->
            <div>

                <!-- Theme Toggle -->
                <button
                    onclick="document.documentElement.classList.toggle('dark'); localStorage.theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light'">
                    <i></i>
                    <i></i>
                </button>

                <!-- Notifications Dropdown (Alpine) -->
                <div x-data="{ open: false }">
                    <button @click="open = !open" @click.outside="open = false">
                        <i></i>
                        <span>!</span>
                    </button>

                    <div x-show="open">
                        <div>
                            <h5>System Alerts</h5>
                        </div>
                        <div>
                            <div>System Nominal - All sectors
                                clear.</div>
                            <div>Just now</div>
                        </div>
                        <a href="/disaster-reports">View
                            All Reports</a>
                    </div>
                </div>

                <!-- Admin User Dropdown (Alpine) -->
                <div x-data="{ open: false }">
                    <button @click="open = !open" @click.outside="open = false">
                        <div>
                            <i></i>
                        </div>
                    </button>

                    <div x-show="open">
                        <div>
                            <span>
                                <%= username %>
                            </span>
                            <span>Administrator</span>
                        </div>
                        <a href="/aboutadmin text-primary"><i></i> System Info</a>
                        <a href="/logout"><i></i> Log Out</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>