<nav class="navbar navbar-expand bg-dark navbar-dark sticky-top px-4 py-0"
    style="height: 50px; border-bottom: 1px solid rgba(255,255,255,0.1);">
    <a href="/adminpage" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-danger mb-0"><i class="fa fa-shield-alt"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0 text-decoration-none">
        <i class="fa fa-bars text-muted"></i>
    </a>
    <button class="btn btn-outline-info btn-sm ms-4" id="enableNotifications" style="font-size: 0.75rem;">
        <i class="fa fa-bell me-2"></i>WEATHER ALERTS
    </button>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item">
            <a href="/aboutadmin" class="nav-link" style="font-size: 0.85rem;">
                <i class="fa fa-info me-2"></i>About
            </a>
        </div>

        <div class="nav-item dropdown ms-3">
            <a href="#" class="nav-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown"
                style="font-size: 0.85rem;">
                <i class="fa fa-user-shield me-2"></i>
                <span class="d-none d-lg-inline-flex text-uppercase">
                    <%= username %>
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-dark border border-secondary m-0">
                <a href="/logout" class="dropdown-item text-danger">LOG OUT</a>
            </div>
        </div>
    </div>
</nav>