<footer>
  <div>
    <div>
      <div>
        <p>&copy; <%= new Date().getFullYear() %> <strong>CITYSAFE</strong>. All rights reserved.</p>
      </div>
      <div>
        <div>
          <a href="/help">Support</a>
          <a href="/about">Policies</a>
          <a href="/contact">Contact</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Javascript -->
<script src="/assets/portal/plugins/popper.min.js"></script>
<script src="/assets/portal/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- Page Specific JS -->
<script src="/assets/portal/js/app.js"></script>

<!-- Core Project JavaScript -->
<script src="/js/main.js"></script>
<script src="/js/push-client.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>