
<div>
  <div>
      <div onclick="toggleSidebar()">&#9776;</div>
      <div>Welcome to CitySafe!</div>
  </div>
  <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/help">Help</a></li>
  </ul>
</div>

<div>
  <ul>
      <li><a href="/visitor">Home</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/about">About</a></li>
  </ul>
</div>

<div onclick="toggleSidebar()"></div>
