<ul>
<header>
    <div>
        <nav>
            <a href="/">CITYSAFE</a>
            <button type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
            </button>
            <div id="mainNav">
                <ul>
                    <li><a href="/weather">Weather</a></li>
                    <li><a href="/survival-tips">Resources</a></li>
                    <li><a href="/nearby-stations">Stations</a></li>
                    <li><a href="/requesthelp">Post Help</a></li>
                    <li><a href="/aboutuser">About</a></li>
                </ul>
                <div>
                    <small>Signed in as <strong><%= username %></strong></small>
                    <a href="/help-user">Help</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </nav>
    </div>
</header>