<div>
    <nav>
        <a href="/responder">
            <h3><i></i>CitySafe</h3>
        </a>
        <div>
            <div>
                <img src="/images/user.png" alt="">
                <div>
                </div>
            </div>
            <div>
                <h6><%= username %></h6>
                <span>Responder</span>
            </div>
        </div>
        <div>
            <a href="/responder"><i></i>Dashboard</a>
            <a href="/aboutresponder"><i></i>About</a>
            <hr>
            <a href="/logout"><i></i>Logout</a>
        </div>
    </nav>
</div>
