<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="/responder" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-shield-alt me-2"></i>CitySafe</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle profile-img-sm" src="/images/user.png" alt="">
                <div
                    class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0"><%= username %></h6>
                <span>Responder</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/responder" class="nav-item nav-link <%= page === 'dashboard' ? 'active' : '' %>"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/responder#nearby-reports" class="nav-item nav-link"><i class="fa fa-map-marked-alt me-2"></i>Nearby Disasters</a>
            <a href="/responder-history" class="nav-item nav-link <%= page === 'history' ? 'active' : '' %>"><i class="fa fa-history me-2"></i>Reaction History</a>
            <a href="/aboutresponder" class="nav-item nav-link <%= page === 'about' ? 'active' : '' %>"><i class="fa fa-info-circle me-2"></i>About</a>
            <hr class="dropdown-divider">
            <a href="/logout" class="nav-item nav-link"><i class="fa fa-sign-out-alt me-2"></i>Logout</a>
        </div>
    </nav>
</div>
