<nav class="navbar navbar-expand sticky-top bg-white border-bottom px-4 py-2">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="/responder" class="navbar-brand fw-semibold">CITYSAFE Responder</a>
        <div class="d-flex align-items-center">
            <a href="/aboutresponder" class="nav-link me-3">Info</a>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    <%= username %>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>