<!-- Glassmorphic Responder Navbar -->
<nav>
    <div>
        <div>

            <!-- Mobile Sidebar Toggle & Logo -->
            <div>
                <button id="sidepanel-toggler">
                    <i></i>
                </button>
                <a href="/responder">
                    <i></i>
                    <span>CITYSAFE</span>
                </a>
            </div>

            <!-- Utilities -->
            <div>

                <!-- Theme Toggle -->
                <button
                    onclick="document.documentElement.classList.toggle('dark'); localStorage.theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light'">
                    <i></i>
                    <i></i>
                </button>

                <!-- Notifications Dropdown (Alpine) -->
                <div x-data="{ open: false }">
                    <button @click="open = !open" @click.outside="open = false">
                        <i></i>
                        <span>3</span>
                    </button>

                    <div x-show="open">
                        <div>
                            <h5>Responder Alerts</h5>
                        </div>
                        <div>
                            <div>New emergency incident reported.
                            </div>
                            <div>2 mins ago</div>
                        </div>
                        <a href="/responder">View
                            Dashboard</a>
                    </div>
                </div>

                <!-- Responder User Dropdown (Alpine) -->
                <div x-data="{ open: false }">
                    <button @click="open = !open" @click.outside="open = false">
                        <div>
                            <i></i>
                        </div>
                        <span>
                            <%= username %>
                        </span>
                        <i></i>
                    </button>

                    <div x-show="open">
                        <div>
                            <span>
                                <%= username %>
                            </span>
                            <span>Emergency
                                Responder</span>
                        </div>
                        <a href="/aboutresponder"><i></i> System Info</a>
                        <a href="/logout"><i></i> Log Out</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>