<div>
    <div>
        <div>
            <i></i>
            <h6 id="address-visitor">Public
                Geolocation...</h6>
        </div>
        <button type="button" onclick="refreshVisitorLocation()">
            <i></i>RE-SYNC
        </button>
    </div>

    <div id="selectloc-visitor-map"></div>

    <div>
        <code id="coords-visitor">Scanning grid...</code>
        <div>
            <span></span>
            <small>Public Feed</small>
        </div>
    </div>
</div>

<script>
    (function () {
        var vMap = L.map('selectloc-visitor-map').setView([10.7202, 122.5621], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(vMap);

        let vMarker = null;

        window.refreshVisitorLocation = function () {
            document.getElementById('address-visitor').innerHTML = `<i>Polling Satellites...</i>`;

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(pos => {
                    const lat = pos.coords.latitude;
                    const lng = pos.coords.longitude;
                    const latlng = L.latLng(lat, lng);

                    if (vMarker) {
                        vMarker.setLatLng(latlng);
                    } else {
                        vMarker = L.marker(latlng).addTo(vMap).bindPopup("You are here (Visitor View)").openPopup();
                    }

                    vMap.setView(latlng, 15);
                    document.getElementById("coords-visitor").innerText = `${lat.toFixed(4)}, ${lng.toFixed(4)}`;

                    fetch(`https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${lat}&lon=${lng}`)
                        .then(res => res.json())
                        .then(data => {
                            document.getElementById('address-visitor').innerText = data.display_name;
                            if (typeof showMap === 'function') {
                                showMap({ coords: { latitude: lat, longitude: lng } });
                            }
                        });
                }, err => {
                    document.getElementById('address-visitor').innerText = "Location Denied";
                });
            }
        };

        refreshVisitorLocation();
    })();
</script>