<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
    <a href="/visitor" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-shield-alt"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <!-- <form class="d-none d-md-flex ms-4">
        <input class="form-control bg-dark border-0" type="search" placeholder="Search">
    </form> -->
    <a href="#" class="d-none d-md-flex ms-4">
        <i class="fa fa-bell" id="enableNotifications"> Enable Weather Notifications</i>
    </a>
    <!-- <button class="btn btn-primary" id="enableNotifications">Enable Weather Notifications</button> -->
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item">
            <a href="/survival-tips" class="nav-link">
                <i class="fa fa-lightbulb me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">Survival Tips</span>
            </a>
        </div>
        <div class="nav-item">
            <a href="/aboutuser" class="nav-link">
                <i class="fa fa-info me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">About</span>
            </a>
        </div>

        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" src="images/user.png" alt="" style="width: 40px; height: 40px;">
                <span class="d-none d-lg-inline-flex"><%= username %></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a href="/editaccount" class="dropdown-item">Update Profile</a>
                <a href="/help-user" class="dropdown-item">Help</a>
                <a href="/logout" class="dropdown-item">Log Out</a>
            </div>
        </div>

    </div>
</nav>