<!-- Glassmorphic User Navbar -->
<nav>
    <div>
        <div>

            <!-- Mobile Sidebar Toggle & Logo -->
            <div>
                <button id="sidepanel-toggler">
                    <i></i>
                </button>
                <a href="/">
                    <i></i>
                    <span>CITYSAFE</span>
                </a>
            </div>

            <!-- Utilities -->
            <div>

                <!-- Theme Toggle -->
                <button
                    onclick="document.documentElement.classList.toggle('dark'); localStorage.theme = document.documentElement.classList.contains('dark') ? 'dark' : 'light'">
                    <i></i>
                    <i></i>
                </button>

                <!-- Notifications Dropdown (Alpine) -->
                <div x-data="{ open: false }">
                    <button @click="open = !open" @click.outside="open = false">
                        <i></i>
                        <span>2</span>
                    </button>

                    <div x-show="open">
                        <div>
                            Notifications</div>
                        <a href="#">You
                            have no new alerts.</a>
                    </div>
                </div>

                <!-- User Dropdown (Alpine) -->
                <div x-data="{ open: false }">
                    <button @click="open = !open" @click.outside="open = false">
                        <div>
                            <i></i>
                        </div>
                        <span>
                            <%= username %>
                        </span>
                        <i></i>
                    </button>

                    <div x-show="open">
                        <a href="/editaccount"><i></i> Settings</a>
                        <a href="/help-user"><i></i> Support</a>
                        <a href="/logout"><i></i> Logout</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>