<nav class="navbar navbar-expand sticky-top bg-white border-bottom px-4 py-2">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="/" class="navbar-brand fw-semibold">CITYSAFE</a>
        <div class="d-flex align-items-center">
            <a href="/survival-tips" class="nav-link me-3">Resources</a>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    <%= username %>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/editaccount">Settings</a></li>
                    <li><a class="dropdown-item" href="/help-user">Support</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>