<nav class="navbar navbar-expand bg-white border-bottom sticky-top px-4 py-2">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="/visitor" class="navbar-brand fw-semibold">CITYSAFE</a>
        <div>
            <a href="/help" class="nav-link d-inline">Help</a>
        </div>
    </div>
</nav>