<div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/visitor" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-shield-alt me-2"></i>CitySafe</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="images/user.png" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Visitor</h6>
                        <span>Not Registered</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/visitor" class="nav-item nav-link"><i class="fa fa-home me-2"></i>Home</a>
                    <a href="/services" class="nav-item nav-link"><i class="fa fa-cogs me-2"></i>Services</a>
                    <a href="/contact" class="nav-item nav-link"><i class="fa fa-envelope me-2"></i>Contact Us</a>
                    <a href="/about" class="nav-item nav-link"><i class="fa fa-info-circle me-2"></i>About</a>
                </div>
            </nav>
        </div>

