<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
    <a href="/visitor" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-shield-alt"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <!-- <form class="d-none d-md-flex ms-4">
        <input class="form-control bg-dark border-0" type="search" placeholder="Search">
    </form> -->
    <button class="btn btn-primary" id="enableNotifications" style="display: none;">Enable Weather Notifications</button>

    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item">
            <a href="/login" class="nav-link">
                <i class="fa fa-sign-in-alt me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">Login</span>
            </a>
        </div>
        <div class="nav-item">
            <a href="/register" class="nav-link">
                <i class="fa fa-user-plus me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">Create Account</span>
            </a>
        </div>
        <div class="nav-item">
            <a href="/help" class="nav-link">
                <i class="fa fa-question-circle me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">Help</span>
            </a>
        </div>
        
    </div>
</nav>